body{
    margin: 0px;
    text-align: center; /*to center all elements without the width set*/
    font-family: 'Lora', serif;
}

h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Fondamento', cursive;
    color: #3B0404;
    /* width: 10%; removes centering of h1*/
    /* margin: 0 auto;  centering of h1 */
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    color: #3B0404;
}

h3{
    font-family: 'Raleway', sans-serif;
    color: #3B0404;
    font-weight: 800;
    font-size: 2rem;
}

a{
    color: #900020;
}

a:hover{
    color: #F9F1F0;
}

hr{
    margin: 60px auto;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: #b0b3b3;
    width: 3%;
}

.top-container{
    background-color:#F9F1F0;
    position: relative;
    padding-top: 30px;
}

.top-quill{
    position: relative;
    top: 60px;
    right: 280px;
    width: 80px;
}

p{
    font-weight: 600;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.web{
    font-weight: normal;
    margin-top: 0;
}

.bottom-quill{
    position: relative;
    bottom: 250px;
    left: 500px;
    width: 80px;
}

.girl{
    width: 300px;
}

.Photo{
    width: 150px;
    margin: 30px auto;
}

.profile{
    width: 50%;
    margin: auto;
    line-height: 2;
    text-align: center;
}

.skill-row{
    width: 50%;
    margin: 60px auto 80px auto;
    text-align: justify;
    line-height: 2;
}

.computer{
    width: 150px;
    float: left;
    margin-right: 30px;
}

.writing{
    width: 150px;
    float: right;
    margin-left: 30px;
}

.contact-me{
    width: 50%;
    margin: auto;
    margin-bottom: 60px;
}

.button {
    margin: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 25px;
    font-weight: 100;
    padding: 15px;
    background-color: #AA1945;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .button:hover {
    background: #900020;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

.bottom-container{
    background-color: #DE847B;
    height: 4rem;
    padding: 2.5rem;
}

.footer-link{
    margin: 10px;
    text-decoration: none;
}

.copyright{
    color: #F9F1F0;
    font-size: 0.75rem;
    padding: 20px 0;
    text-align: center;
    font-weight: 500;
}
